{% extends 'base.html' %}

{% load static %}

{% block blockTitel %} Agustin Ribotta {% endblock blockTitel %}


{% block body %}
<!-- Inicio portada -->
<div id='seccion1' class="container mt-11" style="margin-top: 80px;">
    <div class="row justify-content-center align-items-center">
        <div class="card shadow p-3 mb-5 bg-body rounded">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://avatars.githubusercontent.com/u/122037519?v=4" class="img-fluid" alt="Perfil"
                        style="max-width: 100%; height: auto;">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h1 class="card-title">💫 Sobre Mí:</h1>
                        <p class="card-text">
                            ¡Bienvenidos ! Soy Agustín Ribotta, un apasionado programador de
                            backend que reside en Italia. Con 26 años de edad y alrededor de un año de experiencia en el
                            mundo de la programación, he encontrado mi verdadera vocación en el desarrollo de backend.
                        </p>
                        <h2 class="card-title">🔧 Explorando el Backend</h2>
                        <p class="card-text">
                            Mi enfoque principal se centra en el desarrollo de backend, donde tengo la oportunidad de
                            dar vida a la lógica detrás de las aplicaciones y sistemas. Utilizo Python para construir
                            soluciones robustas y escalables que impulsan el funcionamiento de las aplicaciones web y
                            los servicios.
                        </p>
                        <h2 class="card-title">🔧 Certificaciones</h2>
                        <ul class="list-group">
                            <li class="list-group-item">Certificación en Desarrollo Web - Universidad XYZ</li>
                            <li class="list-group-item">Certificado Avanzado de Python - Plataforma de Aprendizaje ABC
                            </li>
                            <li class="list-group-item">Certificado de Programación en Java - Institución de Educación
                                DEF</li>
                        </ul>
                        <div class="mt-4">
                            <a href="https://www.linkedin.com/in/tuperfil" target="_blank"
                                class="btn btn-primary me-3 grayscale-button">
                                <i class="fab fa-linkedin me-2 grayscale-icon"></i> LinkedIn
                            </a>
                            <a href="https://github.com/tuusuario" target="_blank"
                                class="btn btn-primary me-3 grayscale-button">
                                <i class="fab fa-github me-2 grayscale-icon"></i> GitHub
                            </a>
                            <a href="enlace-para-descargar-el-cv.pdf" class="btn btn-primary grayscale-button">
                                <i class="fas fa-download me-2 grayscale-icon"></i> Descargar CV
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fin portada -->

<!-- Inicio Centro -->
<div id='seccion2' class="container text-center mt-4">
    <div class="card shadow p-3 mb-5 bg-body rounded">
        <div class="row justify-content-center">
            <h3 class="skill-category">Gestión de bases de datos:</h3>
            <div class="col-md-2 mb-3">
                <div class="skill">
                    <img src="https://i.ibb.co/Tw5sCMT/bootstrap-7b4c3807.png" alt="Django">
                    <p>Python</p>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="skill">
                    <img src="https://i.ibb.co/Tw5sCMT/bootstrap-7b4c3807.png" alt="Django REST framework">
                    <p>Python</p>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="skill">
                    <img src="https://i.ibb.co/Tw5sCMT/bootstrap-7b4c3807.png" alt="Python">
                    <p>Python</p>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="skill">
                    <img src="https://i.ibb.co/Tw5sCMT/bootstrap-7b4c3807.png" alt="Bootstrap">
                    <p>Python</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <h3 class="skill-category">Gestión de bases de datos:</h3>
            <div class="col-md-2 mb-3">
                <div class="skill">
                    <img src="https://i.ibb.co/Tw5sCMT/bootstrap-7b4c3807.png" alt="HTML5">
                    <p>Python</p>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="skill">
                    <img src="https://i.ibb.co/Tw5sCMT/bootstrap-7b4c3807.png" alt="CSS3">
                    <p>Python</p>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="skill">
                    <img src="https://i.ibb.co/Tw5sCMT/bootstrap-7b4c3807.png" alt="MySQL">
                    <p>Python</p>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="skill">
                    <img src="https://i.ibb.co/Tw5sCMT/bootstrap-7b4c3807.png" alt="PostgreSQL">
                    <p>Python</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <h3 class="skill-category">Servidores en la nube:</h3>
            <div class="col-md-2 mb-3">
                <div class="skill">
                    <img src="https://i.ibb.co/Tw5sCMT/bootstrap-7b4c3807.png" alt="SQLite">
                    <p>Python</p>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="skill">
                    <img src="https://i.ibb.co/Tw5sCMT/bootstrap-7b4c3807.png" alt="Linux">
                    <p>Python</p>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="skill">
                    <img src="https://i.ibb.co/Tw5sCMT/bootstrap-7b4c3807.png" alt="AWS">
                    <p>Python</p>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div class="skill">
                    <img src="https://i.ibb.co/Tw5sCMT/bootstrap-7b4c3807.png" alt="DigitalOcean">
                    <p>Python</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fin Centro -->

<!-- Inicio Repositorio -->
<div id='seccion3' class="container text-center mt-4">
    <div class="card shadow p-3 mb-5 bg-body rounded">
        <h2 class="skill-category">Mis Repositorios en GitHub</h2>
        <div class="btn-group mb-3" role="group" aria-label="Filtros">
            <button type="button" class="btn btn-secondary active filter-button" data-filter="todos">Todos</button>
            <button type="button" class="btn btn-secondary filter-button" data-filter="proyecto1">Proyecto 1</button>
            <button type="button" class="btn btn-secondary filter-button" data-filter="proyecto2">Proyecto 2</button>
            <button type="button" class="btn btn-secondary filter-button" data-filter="proyecto3">Proyecto 3</button>
        </div>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card project-card">
                    <img src="https://github.com/AgustinRibotta/myblog/blob/main/Readme-media/Blog.png?raw=true"
                        class="card-img-top" alt="Proyecto 1">
                    <div class="card-body">
                        <h5 class="card-title">Nombre de tu Proyecto 1</h5>
                        <p class="card-text">Descripción de tu Proyecto 1.</p>
                    </div>
                    <a href="enlace-a-tu-proyecto-1" target="_blank" class="btn btn-primary me-3 grayscale-button">Ver
                        Proyecto</a>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card project-card">
                    <img src="https://github.com/AgustinRibotta/myblog/blob/main/Readme-media/Blog.png?raw=true"
                        class="card-img-top" alt="Proyecto 2">
                    <div class="card-body">
                        <h5 class="card-title">Nombre de tu Proyecto 2</h5>
                        <p class="card-text">Descripción de tu Proyecto 2.</p>
                    </div>
                    <a href="enlace-a-tu-proyecto-2" target="_blank" class="btn btn-primary me-3 grayscale-button">Ver
                        Proyecto</a>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card project-card">
                    <img src="https://github.com/AgustinRibotta/myblog/blob/main/Readme-media/Blog.png?raw=true"
                        class="card-img-top" alt="Proyecto 3">
                    <div class="card-body">
                        <h5 class="card-title">Nombre de tu Proyecto 3</h5>
                        <p class="card-text">Descripción de tu Proyecto 3.</p>
                    </div>
                    <a href="enlace-a-tu-proyecto-3" target="_blank" class="btn btn-primary me-3 grayscale-button">Ver
                        Proyecto</a>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card project-card">
                    <img src="https://github.com/AgustinRibotta/myblog/blob/main/Readme-media/Blog.png?raw=true"
                        class="card-img-top" alt="Proyecto 3">
                    <div class="card-body">
                        <h5 class="card-title">Nombre de tu Proyecto 3</h5>
                        <p class="card-text">Descripción de tu Proyecto 3.</p>
                    </div>
                    <a href="enlace-a-tu-proyecto-3" target="_blank" class="btn btn-primary me-3 grayscale-button">Ver
                        Proyecto</a>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card project-card">
                    <img src="https://github.com/AgustinRibotta/myblog/blob/main/Readme-media/Blog.png?raw=true"
                        class="card-img-top" alt="Proyecto 3">
                    <div class="card-body">
                        <h5 class="card-title">Nombre de tu Proyecto 3</h5>
                        <p class="card-text">Descripción de tu Proyecto 3.</p>
                    </div>
                    <a href="enlace-a-tu-proyecto-3" target="_blank" class="btn btn-primary me-3 grayscale-button">Ver
                        Proyecto</a>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card project-card">
                    <img src="https://github.com/AgustinRibotta/myblog/blob/main/Readme-media/Blog.png?raw=true"
                        class="card-img-top" alt="Proyecto 3">
                    <div class="card-body">
                        <h5 class="card-title">Nombre de tu Proyecto 3</h5>
                        <p class="card-text">Descripción de tu Proyecto 3.</p>
                    </div>
                    <a href="enlace-a-tu-proyecto-3" target="_blank" class="btn btn-primary me-3 grayscale-button">Ver
                        Proyecto</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fin Repositorio -->

<!-- inicio Contacto -->
<div id="contacto" class="container mt-5">
    <div class="card shadow p-3 mb-5 bg-body rounded">
        <h2 class="card-title">¡Contáctame!</h2>
        <form action="procesar_formulario.php" method="post">
            <div class="mb-3">
                <label for="nombre" class="form-label">Tu Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Tu Correo Electrónico</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="mb-3">
                <label for="mensaje" class="form-label">Mensaje</label>
                <textarea class="form-control" id="mensaje" name="mensaje" rows="4" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>

        <!-- Agregar enlaces a redes sociales y descarga de CV -->
        <div class="social-links mt-4">
            <a href="https://www.linkedin.com/in/tuperfil" target="_blank" class="btn btn-dark me-2">
                <i class="fab fa-linkedin me-2"></i> LinkedIn
            </a>
            <a href="https://github.com/tuusuario" target="_blank" class="btn btn-dark me-2">
                <i class="fab fa-github me-2"></i> GitHub
            </a>
            <a href="mailto:tucorreo@gmail.com" class="btn btn-dark me-2">
                <i class="fas fa-envelope me-2"></i> Correo
            </a>
            <a href="enlace-para-descargar-el-cv.pdf" class="btn btn-dark">
                <i class="fas fa-download me-2"></i> Descargar CV
            </a>
        </div>
    </div>
</div>
<!-- Fin Contacto -->


{% endblock body %}