{% extends 'base.html' %}

{% load static %}

{% block blockTitel %} Agustin Ribotta {% endblock blockTitel %}

{% block body %}

<div class=" container  ">

    <!-- Home cover section -->
    <div id="seccion1" class="row g-0 mt-5 fade-in">

        <!-- Image block -->
        <div class="col-md-4 col-sm-12 border border-2 mb-3 rounded shadow text-center img"
            style="background: url('{{ first.img.url }}') no-repeat center center; background-size: cover;">
        </div>

        <!-- End image block -->

        <!-- Link block -->
        <div class="col-md-8 border border-2 mb-3 rounded shadow card-content img image-container"
            style="padding: 20px;">
            {% for a in first.content.all %}
            {% if a.title %}
            <h1 class="card-title">{{ a.title }}</h1>
            {% endif %}
            <p class="card-text">
                {{ a.text | safe }}
            </p>
            {% endfor %}
            <div class="mt-4">
                {% for c in networck %}
                <a href="{% if c.urls %}{{ c.urls }}{% elif c.mail %}mailto:{{ c.mail }}{% elif c.phone %}tel:{{ c.phone }}{% else %}{{ c.cv.url }}{% endif %}"
                    class="btn">
                    {{ c.title | safe }}
                </a>
                {% endfor %}
            </div>
        </div>
        <!-- End link block -->

    </div>
    <!-- End of cover section -->

    <!-- Home tools section-->
    <div id="seccion2" class="text-center fade-in ">
        {% for b in second %}
        <div class="row justify-content-center">
            <h2>{{ b.title }}</h2>
            {% for a in b.content.all %}
            <div class="col-md-1 mb-1">
                <div class="skill">
                    <img src="{{ a.img.url }}" alt="{{ a.title }}">
                    <p>{{ a.title }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <!-- End tools section-->

    <!-- Home projects Section -->
    <div id="seccion3" class="text-center fade-in">

        <!-- Title block -->
        {% for e in thir %}
        <div class="repositorio-category">
            <h2 class="section-title">{{ e.title }}</h2>
            <div class="filter-bar">
                {# Puedes mostrar los filtros aquí si es necesario #}
            </div>
        </div>
        <!-- End title block -->

        <!-- Project  block -->
        <div class="row mt-5">
            {% for c in thir_content %}
            {% if c.content == e %}
            <div class="col-md-4 mb-4">
                <div class="card project-card">
                    <img src="{{ c.img.url }}" class="card-img-top " alt="{{ c.title }}" height="150">
                    <div class="card-body">
                        <h5 class="section-title">{{ c.title }}</h5>
                        <p class="card-text">
                            {{ c.text | safe }}
                        </p>
                        <a href="{{ c.urls }}" target="_blank" class="btn btn-secondary">
                            Ver Proyecto
                        </a>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <!-- End project  block -->

        {% endfor %}
    </div>
    <!-- End projects Section -->

    <!-- Home contact me section-->
    <div id="contacto" class="mt-5 fade-in ">

        <!-- contact block-->
        <h1 class="section-title">¡Contáctame!</h1>
        <form class="row g-3" method="POST" action="{% url 'home_app:contact' %}">
            {% csrf_token %}
            <div class="col-md-6">
                <label for="id_full_name" class="form-label">Nombres</label>
                <input type="text" class="form-control" placeholder="Tu nombre..." name="full_name" id="id_full_name">
            </div>
            <div class="col-md-6">
                <label for="id_email" class="form-label">Correo</label>
                <input type="email" class="form-control" placeholder="Tu correo..." name="email" id="id_email">
            </div>
            <div class="col-12">
                <label for="id_messagge" class="form-label">Mensaje</label>
                <textarea class="form-control" placeholder="Tu mensaje..." name="messagge" id="id_messagge"></textarea>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-secondary">Enviar</button>
            </div>
        </form>

        <!-- End contact block-->

        <!-- Link block -->
        <div class="mt-4 mt-5">
            {% for c in networck %}
            <a href="{% if c.urls %}{{ c.urls }}{% elif c.mail %}mailto:{{ c.mail }}{% elif c.phone %}tel:{{ c.phone }}{% else %}{{ c.cv.url }}{% endif %}"
                target="_blank" class="btn ">
                {{ c.title | safe }}
            </a>
            {% endfor %}
        </div>
        <!-- End link block -->

    </div>
    <!-- End contact me section-->
</div>

{% endblock body %}