{% extends 'base.html' %}

{% load static %}

{% block blockTitel %} Agustin Ribotta {% endblock blockTitel %}

{% block body %}
<!-- Inicio portada -->
<div class=" container  ">
    <div id="seccion1" class="row g-0 mt-5 fade-in">
        <!-- Bloque de la imagen con borde -->
        <div class="col-md-4 border border-2 mb-3 rounded shadow text-center img"
            style="background: url('{{ first.img.url }}') no-repeat center center; background-size: cover;">
        </div>

        <!-- Bloque del texto y enlaces con borde y margen interior -->
        <div class="col-md-8 border border-2 mb-3 rounded shadow card-content img image-container"
            style="padding: 20px;">
            {% for a in first.content.all %}
            {% if a.title %}
            <h1 class="card-title">{{ a.title }}</h1>
            {% endif %}
            <p class="card-text">
                {{ a.text | safe }}
            </p>
            {% endfor %}
            <div class="mt-4">
                {% for c in networck %}
                <a href="{% if c.urls %}{{ c.urls }}{% elif c.mail %}mailto:{{ c.mail }}{% elif c.phone %}tel:{{ c.phone }}{% else %}{{ c.cv.url }}{% endif %}"
                    class="btn">
                    {{ c.title | safe }}
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Fin portada -->

    <!-- Inicio Centro -->
    <div id="seccion2" class="text-center fade-in ">
        {% for b in second %}
        <div class="row justify-content-center">
            <h2>{{ b.title }}</h2>
            {% for a in b.content.all %}
            <div class="col-md-1 mb-1">
                <div class="skill">
                    <img src="{{ a.img.url }}" alt="{{ a.title }}">
                    <p>{{ a.title }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <!-- Fin Centro -->

    <!-- inicio Repo -->
    <div id="seccion3" class="text-center fade-in ">
        {% for e in thir %}
        <div class="repositorio-category  ">
            <h2 class="section-title">{{ e.title }}</h2>
            <div class="filter-bar">
                {# Puedes mostrar los filtros aquí si es necesario #}
            </div>
        </div>

        <div class="row mt-5">
            {% for c in e.content.all %}
            <div class="col-md-4 mb-4">
                <div class="card project-card">
                    <img src="{{ c.img.url }}" class="card-img-top" alt="{{ c.title }}" width="200" height="150">

                    <div class="card-body">
                        <h5 class="section-title">{{ c.title }}</h5>
                        <p class="card-text">
                            {{ c.text | safe }}
                        </p>
                        <a href="{{ c.urls }}" target="_blank" class="btn btn-secondary">
                            Ver Proyecto
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}

        <!-- Inicio de bloque de paginación -->
        {% if thir.has_other_pages %}
        <div class="pagination-container text-center">
            <nav aria-label="Navegación de página">
                <ul class="pagination">
                    {% if thir.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1" aria-label="Primera Página">
                            &laquo; Primera
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ thir.previous_page_number }}" aria-label="Página Anterior">
                            Anterior
                        </a>
                    </li>
                    {% endif %}

                    <li class="page-item disabled">
                        <span class="page-link">
                            Página {{ thir.number }} de {{ thir.paginator.num_pages }}
                        </span>
                    </li>

                    {% if thir.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ thir.next_page_number }}" aria-label="Página Siguiente">
                            Siguiente
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ thir.paginator.num_pages }}" aria-label="Última Página">
                            Última &raquo;
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        {% endif %}
    </div>

    <!-- Inicio Contacto -->
    <div id="contacto" class="mt-5 fade-in ">
        <h1 class="section-title">¡Contáctame!</h1>
        <form action=" {% url 'home_app:contact' %}" method="POST" class="contact-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="nombre" class="form-label section-title">Tu Nombre</label>
                <input type="text" class="form-control" name="full_name" id="input_full_name" required>
            </div>
            <div class="form-group">
                <label for="email" class="form-label section-title">Tu Correo Electrónico</label>
                <input type="email" class="form-control" name="email" id="input_email" required>
            </div>
            <div class="form-group">
                <label for="mensaje" class="form-label section-title">Mensaje</label>
                <textarea class="form-control" name="message" id="input_message" rows="4" required></textarea>
            </div>
            <button type="submit" class="btn btn-secondary ">Enviar</button>
        </form>


        <!-- Agregar enlaces a redes sociales y descarga de CV -->
        <div class="mt-4 mt-5">
            {% for c in networck %}
            <a href="{% if c.urls %}{{ c.urls }}{% elif c.mail %}mailto:{{ c.mail }}{% elif c.phone %}tel:{{ c.phone }}{% else %}{{ c.cv.url }}{% endif %}"
                target="_blank" class="btn ">
                {{ c.title | safe }}
            </a>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Fin Contacto -->
{% endblock body %}