<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>&copy; 2023 Tu Empresa. Todos los derechos reservados.</p>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-lg-12">
                <div class="footer-links">
                    <a href="https://www.linkedin.com/in/tuperfil" target="_blank">
                        <i class="fab fa-linkedin"></i> LinkedIn
                    </a>
                    <a href="https://github.com/tuusuario" target="_blank">
                        <i class="fab fa-github"></i> GitHub
                    </a>
                    <a href="mailto:tucorreo@gmail.com">
                        <i class="fas fa-envelope"></i> Gmail
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>