/* Estilos para el footer */
footer {
    background-color: #031926;
    color: white;
    padding: 20px 0;
    text-align: center;
}

/* Estilos para los enlaces en el lado derecho */
.footer-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-links a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

/* Estilos para el dibujo (puedes reemplazarlo con tu propio código SVG) */
.footer-drawing {
    font-size: 40px;
}