/* Colores de tu escala */
:root {
    --color-background: #051430;
    --color-main-container: #1C407A;
    --color-card-text: #3A668B;
    --color-contact: #63A5AD;
    --color-section: #F18F01;
    --color-primary: #02222B;
    --color-accent: #6CA9A2;
    --color-text: #D7F7F0;
    --color-highlight: #EFA54D;
    --color-section-bg: #FFF4D9;
    --color-primary-light: #3E6673;
    /* Color principal más claro */
    --color-background-light: #2E5368;
    /* Color de fondo más claro */
    --color-skin: #FFCBA4;
    /* Color de piel */
}

/* Estilos globales */
body {
    background: linear-gradient(135deg, var(--color-primary) 0%, #CCCCCC 100%);

    color: var(--color-text);
}

header,
footer {
    background: var(--color-primary);
    color: var(--color-text);
}

.img {
    background: linear-gradient(100deg, var(--color-primary) 0%, #999999 100%);
}

.image-container {
    opacity: 0.8;
    /* Ajusta el valor según la cantidad de translucidez que desees (0.8 = 80% de opacidad) */
}


/* Estilos para los enlaces en el lado derecho */
.footer-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-links a {
    color: rgb(233, 233, 233);
    margin-left: 20px;
    text-decoration: dashed;
}

/* Estilos para el dibujo (puedes reemplazarlo con tu propio código SVG) */
.footer-drawing {
    font-size: 50px;
}

/* Aplica una transición más suave a elementos con la clase 'fade-in' */
.fade-in {
    opacity: 0;
    /* Comienza invisible */
    transition: opacity 2.0s ease-in-out;
    /* Transición más suave durante 0.5 segundos con aceleración y desaceleración */
}

/* Cuando la clase 'active' se agrega a un elemento, se vuelve visible */
.fade-in.active {
    opacity: 1;
}

/* Estilos para las tarjetas */
.card,
.project-card {
    background: linear-gradient(135deg, var(--color-primary) 0%, #999999 100%);
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    transition: transform 0.3s ease;
    color: var(--color-text);
}

.card-title {
    font-size: 24px;
    color: var(---color-text);
}

.card-text,
.project-description {
    font-size: 15px;
    color: var(--color-card-text);
    ;
}

.btn {
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: var(--color-primary);
    color: var(--color-text);
    padding: 10px 20px;
    /* Agrega relleno para dar más espacio a los botones */
    border-radius: 5px;
    /* Agrega bordes redondeados */
    text-decoration: none;
    /* Elimina el subrayado predeterminado */
    display: inline-block;
    /* Para que los botones se muestren en línea */
    transition: background-color 0.3s, color 0.3s;
    /* Agrega transiciones de color */
}

.btn:hover {
    background-color: var(--color-background-light);
    /* Cambia el fondo al pasar el cursor */
    color: var(--color-section-bg);
    /* Cambia el color de texto al pasar el cursor */
}

/* Estilos para los íconos */
i {
    font-size: 24px;
}

/* Aplica la escala de grises a los íconos de los botones */
.grayscale-icon,
.grayscale-button {
    filter: grayscale(100%);
}

/* Estilos para las habilidades */
.skill-category {
    color: var(--color-main-container);
    font-size: 24px;
    margin: 20px 0;
}

.skill {
    background-color: transparent;
    width: 100px;
    height: 110px;
    padding: 10px;
    background-image: url('ruta-de-tu-imagen.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin: 5px;
    transition: transform 0.3s;
}

.skill:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.skill img {
    max-width: 60px;
    max-height: 60px;
}

.skill-description,
.toggle-button {
    display: none;
    background-color: var(--color-section);
    color: #fff;
    border: none;
    padding: 3px 7px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Estilo base para las tarjetas de proyecto */
.project-card {
    background-color: var(--color-section);
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 20px;
    transition: transform 0.3s;
}

.project-card:hover {
    transform: scale(1.05);
}

/* Filtros */
.filter-button {
    cursor: pointer;
    margin: 10px;
    padding: 8px 16px;
    border: 1px solid var(--color-background);
    border-radius: 5px;
    background-color: var(--color-section);
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.filter-button:hover {
    background-color: var(--color-contact);
    color: #fff;
}

/* Estilos para proyectos activos y no activos */
.active-filter {
    background-color: var(--color-contact);
    color: #fff;
}

.inactive-filter {
    background-color: var(--color-background);
    color: rgba(250, 241, 241, 0.2);
}

/* Clase para ocultar proyectos que no están seleccionados */
.hidden-project {
    display: none;
}

/* Estilos para secciones específicas */
#seccion1,
#seccion2,
#seccion3,
#contacto {
    margin-top: 40px;
    color: var(--color-text);
}

#seccion1 {
    background: linear-gradient(135deg, var(--color-primary) 0%, #999999 100%);
    padding: 40px;

    /* Color de texto más oscuro */

}

#seccion1 img {
    max-width: 70%;
}

#seccion2 {
    background: linear-gradient(135deg, var(--color-primary) 0%, #999999 100%);
    padding: 40px;


}

#seccion2 h1.skill-category {
    font-size: 28px;
    margin-bottom: 20px;
}

#seccion3 {
    background: linear-gradient(135deg, var(--color-primary) 0%, #999999 100%);
    padding: 40px;


}

#seccion3 h2.skill-category {
    font-size: 28px;
    margin-bottom: 20px;
}

.card.project-card {
    background-color: #D1E1E1;
    border: none;

}

.card.project-card .card-title {
    font-size: 18px;
}

.card.project-card .card-text {
    font-size: 14px;
    color: #555;
}

.card.project-card .btn-secondary {
    background-color: #333;
    border: none;
    border-radius: 50px;
    /* Hacer que los bordes del botón sean redondeados */
}

.card.project-card .btn-secondary:hover {
    background-color: #555;
}


#contacto {
    background: linear-gradient(135deg, var(--color-primary) 0%, #999999 100%);
    padding: 40px;


}

.card-title {
    color: var(--color-main-container);
    font-size: 24px;
}

.contact-form {
    background: linear-gradient(135deg, var(--color-primary) 0%, #999999 100%);
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 20px 0;
    transition: box-shadow 0.3s;
}

.contact-form:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* Agrega sombra al pasar el cursor */
}

.form-label {
    font-weight: bold;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

.form-control:focus {
    border-color: #007bff;
}

.btn-submit {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn-submit:hover {
    background-color: #0056b3;
    transform: scale(1.05);
    /* Aumenta el tamaño al pasar el cursor */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.btn {
    background-color: var(--color-section);
    color: var(--color-card-text);
}

.nombre {
    color: var(--color-main-container);
}

.project-description {
    font-size: 14px;
    height: 60px;
    overflow: hidden;
}

.project-description:hover {
    height: auto;
}

.read-more {
    display: none;
}

.project-card:hover .read-more {
    display: block;
}

.truncate-text {
    max-height: 100px;
    overflow: hidden;
    position: relative;
}

.truncate-text::after {
    content: '...';
    position: absolute;
    bottom: 0;
    right: 0;
    background: var(--color-main-container);
}

.read-more-button {
    display: none;
    background: var(--color-main-container);
    color: white;
    border: none;
    cursor: pointer;
}

/* Estilos para el título subrayado */
.underlined-title {
    text-decoration: underline;
    text-decoration-color: var(--color-background);
    /* Color del subrayado (cambia el valor a tu elección) */
    text-decoration-thickness: 1px;
    /* Grosor del subrayado (ajusta según tus preferencias) */
    font-size: 30px;
}


/* Efecto de subrayado en el hover */
.resaltado {
    color: var(--color-primary);
    /* Un color de texto oscuro que contrasta bien con el fondo del gradiente */
    font-size: 30px;
    position: relative;
    /* Necesario para posicionar la línea de subrayado */
    transition: color 0.3s;
}

/* Agregar subrayado cuando el cursor pasa sobre el título */
.resaltado::after {
    content: '';
    /* Agregar contenido vacío para la línea de subrayado */
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    /* Ajusta el grosor de la línea según tus preferencias */
    background-color: var(--color-primary);
    /* Color del subrayado */
    transform: scaleX(0);
    /* Inicialmente, la línea tiene ancho cero */
    transform-origin: 100% 50%;
    /* El subrayado crece desde la derecha hacia la izquierda */
    transition: transform 0.3s;
}

/* Efecto de crecimiento del subrayado en el hover */
.resaltado:hover::after {
    transform: scaleX(1);
    /* La línea crece al 100% de su ancho */
}