{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Agustin Ribotta</title>
</head>

<body>
    <!-- Alerta de mensaje enviado -->
    {% if messages %}
    <div class="fixed-alert-container">
        {% for message in messages %}
        <div class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert">
            <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:">
                <use xlink:href="#check-circle-fill"/>
            </svg>
            <div>
                {{ message }}
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}


    <!-- Barra de Navegación -->
    <!-- Navbar -->
    <nav class="navbar bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand text-secondary" href="#">
                Agustin Ribotta
            </a>
            <div class="d-flex align-items-center">
                <button type="button" class="btn btn-outline-light me-2" data-bs-toggle="modal"
                    data-bs-target="#contactModal">
                    Contacto
                </button>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>


        <!-- Offcanvas Menu -->
        <div class="offcanvas offcanvas-end bg-dark text-white" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menú</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active text-secondary" aria-current="page" href="#peronal">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="#stack">Sobre mí</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="#proyectos">Proyectos</a>
                    </li>
                    {% comment %} <li class="nav-item">
                        <a class="nav-link text-secondary" href="#colaboraciones">Colaboraciones</a>
                    </li> {% endcomment %}
                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="#certificaciones">Certificaciones</a>
                    </li>
                    <li class="nav-item mt-2">
                        <button type="button" class="btn btn-outline-light" data-bs-toggle="modal"
                            data-bs-target="#contactModal">
                            Contacto
                        </button>
                    </li>
                </ul>
                <div class="d-flex mt-4">
                    {% for icon in principal.imgs.all %}
                    <a href="{{icon.url}}" target="_blank" class="mx-2 links">
                        <img src="{{icon.img.url}}" alt="Ícono de GitHub" width="40px" height="40px"
                            >
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </nav>
    <!-- Contact Modal -->
    <div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="contactModalLabel">Contacto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <h2 class="section-title text-center mb-4">Contáctame</h2>
                            <form id="contactForm"  action="/enviar-formulario/"  method="POST">{% csrf_token %}
                            <div class="form-group">
                                <label for="name">Nombre</label>
                                <input type="text" id="name" name="name" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Correo Electrónico</label>
                                <input type="email" id="email" name="email" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="message">Mensaje</label>
                                <textarea id="message" name="menssage" class="form-control" rows="4" required></textarea>
                            </div>
                            <button type="submit" class="btn btn-secondary mt-2">Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Seccion principal  -->
    <section id="peronal" class="section-1">
        <div class="container ">
            <div class="row align-items-center justify-content-center">

                <!-- Columna para la imagen -->
                <div class="col-lg-4 col-md-12 mb-4 d-flex justify-content-center">
                    <div class="image-wrapper">
                        <img src="https://picsum.photos/id/237/400/600" alt="Imagen descriptiva"
                            class="img-fluid main-image">
                    </div>
                </div>
                <!-- Columna para los datos -->
                <div class="col-lg-6 col-md-12 text-center">
                    <h1 class="mb-0">{{principal.name}}</h1>
                    <h3 class="mt-3">{{principal.description}}</h3>
                    <div class="d-flex justify-content-center mt-4">
                        {% for icon in principal.imgs.all %}
                        <a href="{{icon.url}}" target="_blank" class="mx-4 links">
                            <img src="{{icon.img.url}}" alt="Ícono de {{icon.name}}" width="50px" height="50px">
                            <p class="mb-0">{{icon.name}}</p>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Datos personales y Stack -->
    <main id="stack" class="main">
        <div class="container">
            <div class="row align-items-center">
                {% comment %} <h2 class="section-title">{{sobre_mi.name}}</h2> {% endcomment %}
                <p class="text-stack mt-4">{{sobre_mi.description}}</p>
                <!-- Columna izquierda -->
                <div class="col-lg-12 col-md-12 text-left">
                    <!-- Apartado Stack -->
                    <div class="row mt-5">
                        <div class="col-12">
                            <h2 class="section-title ">{{stack.name}}</h2>
                            <!-- Grid de iconos para 'stack.imgs.all' -->
                            <div class="icon-grid mt-4">
                                <div class="row g-1"> <!-- Ajusta el espaciado entre las columnas -->
                                    {% for icon in stack.imgs.all %}
                                    <div class="col-2 text-center mb-1"> <!-- Reducir margen inferior -->
                                        <img src="{{icon.img.url}}" alt="Icono de {{icon.name}}" class="tech-icon mb-1"> <!-- Reducir espacio entre el ícono y el nombre -->
                                        <p class="mb-0">{{icon.name}}</p>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>

                            <!-- Grid de iconos para 'herramientas.imgs.all' -->
                            <div class="icon-grid mt-4">
                                <div class="row g-1"> <!-- Ajusta el espaciado entre las columnas -->
                                    {% for icon in herramientas.imgs.all %}
                                    <div class="col-2 text-center mb-1"> <!-- Reducir margen inferior -->
                                        <img src="{{icon.img.url}}" alt="Icono de {{icon.name}}" class="tech-icon mb-1"> <!-- Reducir espacio entre el ícono y el nombre -->
                                        <p class="mb-0">{{icon.name}}</p>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    <!-- Apartado Complementos -->
                    {% comment %} <div class="row mt-5">
                        <div class="col-12">
                            <h3 class="section-title">{{complementos.name}}</h3>
                            <div class="icon-grid mt-4 mb-5">
                                {% for icon in complementos.imgs.all %}
                                <div class="d-flex align-items-center mb-3">
                                    <img src="{{icon.img.url}}" alt="Icono de {{icon.name}}" class="tech-icon me-2">
                                    <p class="mb-0">{{icon.name}}</p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div> {% endcomment %}

                <!-- Columna derecha -->
                {% comment %} <div class="col-lg-6 col-md-12 d-flex align-items-center justify-content-center">
                    <img src="https://picsum.photos/id/237/400/400" alt="Imagen Descriptiva"
                        class="img-fluid rounded shadow">
                </div> {% endcomment %}
            </div>
        </div>
    </main>

    <!-- Mis Proyectos -->
    <section id='proyectos' class="section-2">
        <div class="container">
            <h2 class="section-title text-center mb-4">{{proyectos.name}}</h2>
            <div class="row gap-4 justify-content-center">
                <!-- Tarjeta -->
                {% for proyecto in proyectos.cards.all %}
                <div class="col-md-3 mb-2">
                    <div class="cards">
                        <img class="card-img-top" src="{{proyecto.front_page.img.url}}" alt="Proyecto nombre: {{proyecto.name}}">
                        <div class="card-body text-center mt-1">
                            <div class="d-flex flex-wrap gap-3 justify-content-center mb-2">
                                {% for img in proyecto.img.all %}
                                    <div class="d-flex flex-column align-items-center">
                                        <img src="{{img.img.url}}" alt="Icono de {{img.name}}" class="tech-icon">
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="card-footer text-center pb-1">
                            <a href="{{proyecto.url}}" class="btn btn-secondary" target="_blank">Ver en GitHub</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Colaboraciones -->
    <!-- <section class="section-3">
        <div class="container">
            <h2 class="section-title text-center mb-4">Mis Colaboraciones</h2>
            <div class="row gap-4 justify-content-center"> -->

    <!-- Tarjeta 1 -->
    <!-- <div class="col-md-3 mb-3 ">
                    <div class="cards shadow-sm">
                        <img src="https://picsum.photos/200/200?grayscale" class="card-img-top"
                            alt="Imagen del Proyecto 1">
                        <div class="card-body text-center mt-3">
                            <div class="d-flex flex-wrap gap-1 justify-content-center mb-3">
                                <img src="../assets/Iconos/py.svg" alt="Icono de Tecnología 1" width="40px"
                                    height="40px" class="mx-2">
                            </div>
                        </div>
                        <div class="card-footer text-center pb-1">
                            <a href="https://github.com/tu-repositorio" class="btn btn-secondary" target="_blank">
                                Ver en GitHub
                            </a>
                        </div>
                    </div>
                </div> -->

    <!-- Tarjeta 2 -->
    <!-- <div class="col-md-3 mb-3">
                    <div class="cards shadow-sm">
                        <img src="https://picsum.photos/200/200?grayscale" class="card-img-top"
                            alt="Imagen del Proyecto 2">
                        <div class="card-body text-center mt-3">
                            <div class="d-flex flex-wrap gap-1 justify-content-center mb-3">
                                <img src="../assets/Iconos/py.svg" alt="Icono de Tecnología 1" width="40px"
                                    height="40px" class="mx-2">
                            </div>
                        </div>
                        <div class="card-footer text-center pb-1">
                            <a href="https://github.com/tu-repositorio" class="btn btn-secondary" target="_blank">
                                Ver en GitHub
                            </a>
                        </div>
                    </div>
                </div> -->

    <!-- Tarjeta 3 -->
    <!-- <div class="col-md-3 mb-3">
                    <div class="cards shadow-sm">
                        <img src="https://picsum.photos/200/200?grayscale" class="card-img-top"
                            alt="Imagen del Proyecto 3">
                        <div class="card-body text-center mt-3">
                            <div class="d-flex flex-wrap gap-1 justify-content-center mb-3">
                                <img src="../assets/Iconos/py.svg" alt="Icono de Tecnología 1" width="40px"
                                    height="40px" class="mx-2">
                            </div>
                        </div>
                        <div class="card-footer text-center pb-1">
                            <a href="https://github.com/tu-repositorio" class="btn btn-secondary" target="_blank">
                                Ver en GitHub
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section> -->

    <!-- Certificaciones -->
    <section id="certificaciones" class="section-4">
        <div class="container text-center">
            <h2 class="section-title" >{{ certificaciones.name }}</h2>
            <div class="row mt-5">
                <!-- Tarjeta de Certificación -->
                {% for certificacion in certificaciones.imgs.all %}
                <div class="col-md-4 col-lg-2 mb-4">
                    <div class="certification-card">
                        <div class="card-body" data-bs-toggle="modal" data-bs-target="#imageModal"
                            data-img-src="{{ certificacion.img.url }}" data-validation-url="{{ certificacion.url }}">
                            <img src="{{ certificacion.img.url }}" alt="{{ certificacion.name }}">
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Modal para mostrar la imagen ampliada -->
    <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <img id="modalImage" src="" alt="Ampliación de Imagen" class="img-fluid">
                </div>
                <div class="modal-footer">
                    <a id="validateButton" href="" target="_blank">
                        <button type="button" class="btn btn-secondary">Validar</button>
                    </a>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

   <!-- Footer -->
    <footer class="img-footer">
        <div class="d-flex justify-content-center mt-4">
            {% for icon in principal.imgs.all %}
            <a href="{{icon.url}}" target="_blank" class="mx-2 links">
                <img src="{{icon.img.url}}" alt="Ícono de {{icon.name}}" width="40" height="40">
            </a>
            {% endfor %}
            <button type="button" class="btn btn-outline-light mb-1 mx-2" data-bs-toggle="modal"
                data-bs-target="#contactModal">
                Contacto
            </button>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>